# Folder & file view configuration
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

# Config
ftp-config.json
deploy.sh

# Dev & IDE
.sass-cache/
.idea
node_modules
.vscode

# Log
debug.log

# App
wp-content/uploads/

# Clever-cloud related things
.clever.json

.htaccess
db-data/
wp-uploads/
wp-content/cache
wp-content/wflogs