/* Tribe event */
.tribe-events-calendar-list__event-categories {
  margin-left: 1rem;
}
body .tribe-events-calendar-list__event-category-link {
  color: #fff !important;
  background-color: var(--tec-color-text-events-title) !important;
  border-radius: 4px;
  padding: .1rem 1rem;
  display: inline-block;
  margin-left: 1rem;
}
.tribe-events-calendar-list__event-datetime-wrapper {
  display: flex;
}
.tribe-events .tribe-events-c-top-bar__datepicker {
  flex: none;
}
#events-categories-filter {
  margin-left: 1rem;
}

.page-template-page-fullscreen.sticky-header .site-content {
  padding-top: 0;
}

#basic-details-section .description {
  font-style: italic;
}
.ideapush-container .ideapush-container-form input {
  margin-bottom: 0;
  margin-right: .5rem;
}
.ideapush-container-idea-header {
  display: flex;
  margin-top: .5rem;
}
.ideapush-idea-filter select {
  min-width: 100px;
}
.bb-groups-invites-left.loading .group-invites-members-listing {
  opacity: .5;
}
/* Form inscription */

#field_104, #field_104-3 {
  display: none !important;
}

.single-item.groups #bp-nouveau-activity-form {
	display: none;
}


/* BB V2 */
body .widget.bb_widget_recent_posts .bb-recent-posts li .bb-title {
  font-weight: normal;
}
body .widget.widget_block .wp-block-group .bb_widget_recent_posts {
  padding: 1rem 1.5rem;
}

.single-item.groups #bp-nouveau-activity-form {
	display: none;
}
.group-admin #buddypress .bp-list .action .generic-button a, .bbp-user-page  #buddypress .bp-list .action .generic-button a {
  color: #fff;
}
body.bb-template-v2 .bp-navs ul li.selected a .bb-component-nav-item-point {
  display: inline-block;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.blog_filter_main [id^=load-more] {
  display: none !important;
}

.ideapush-comments-widget-inner {
  display: none;
}
.alertify-logs .error {
  color: #fff !important;
}
/* BB V2 */
/* body .widget.bb_widget_recent_posts .bb-recent-posts li .bb-title {
  font-weight: normal;
}
body .widget.widget_block .wp-block-group .bb_widget_recent_posts {
  padding: 1rem 1.5rem;
} */

/* Responsive */
body #tribe-events-content {
  overflow: visible;
}
body #tribe-events-pg-template {
  margin: 0 auto;
  max-width: 1048px;
  padding: var(--tec-spacer-8) var(--tec-spacer-4) var(--tec-spacer-4);
}




@media screen and (max-width: 544px) {
  body .tribe-events-event-meta .tribe-events-meta-group {
    padding-left: 30px;
  }
  .tribe-events-calendar-list__event-datetime-wrapper {
    display: block;
  }
  body .tribe-events-calendar-list__event-category-link {
    margin-left: 0;
    margin-top: .5rem;
  }
}
