div#login {
	width: 360px;
}

@media (min-width: 992px) {
	body.login.login-split-page #login {
		max-width: none !important;
	}
}

div#login form#loginform p.forgetmenot label {
	padding-left: 2px;
}

b,
strong {
  font-weight: bold;
}


.language-switcher {
	display: none !important;
}
